<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>homepage</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam explicabo quis perferendis voluptate laborum? Veritatis, ut? Nisi exercitationem, consequatur quae accusamus iusto, nulla facere distinctio quasi, cumque eius rem expedita?</p>
</body>
</html>